In [1]:
# this will help in making the Python code more structured automatically (good coding practice)
#%load_ext nb_black

# import warnings

# warnings.filterwarnings("ignore")

# Libraries to help with reading and manipulating data

import pandas as pd
import numpy as np

# Library to split data
from sklearn.model_selection import train_test_split

# libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)


# To build model for prediction
import statsmodels.stats.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
from statsmodels.tools.tools import add_constant
from sklearn.linear_model import LogisticRegression

# To get diferent metric scores
from sklearn.metrics import (
    f1_score,
    accuracy_score,
    recall_score,
    precision_score,
    confusion_matrix,
    roc_auc_score,
    precision_recall_curve,
    roc_curve,
)

# Libraries different ensemble classifiers
from sklearn.ensemble import (
    BaggingClassifier,
    RandomForestClassifier,
    AdaBoostClassifier,
    GradientBoostingClassifier,
    StackingClassifier,
)

from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier

# Libraries to get different metric scores
from sklearn import metrics
from sklearn.metrics import (
    confusion_matrix,
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
)

# To tune different models
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [2]:
data = pd.read_csv("C:/Users/Cooldream/Downloads/Train_set.csv")
test  = pd.read_csv("C:/Users/Cooldream/Downloads/Test_set.csv")

In [3]:
test1=test.copy()

In [4]:
data.head()

,ID,loan_amnt,loan_term,interest_rate,loan_grade,loan_subgrade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,state_code,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,default
0,72199369,9000,3 years,9.17,B,B2,<5 Years,OWN,85000.0,Not Verified,debt_consolidation,NC,26.68,0.0,0.0,39519,20.0,59.60,INDIVIDUAL,4.0,95493.0,84100.0,0
1,14257956,18000,3 years,13.65,C,C1,<5 Years,OWN,64000.0,Verified,debt_consolidation,SC,31.67,0.0,1.0,9783,24.0,3348.25,INDIVIDUAL,95.0,185433.0,13500.0,0
2,66216451,16000,3 years,7.26,A,A4,<5 Years,MORTGAGE,150000.0,Source Verified,debt_consolidation,TX,19.70,2.0,0.0,13641,27.0,276.69,INDIVIDUAL,13.0,180519.0,19300.0,0
3,46974169,25000,3 years,13.99,C,C4,NaN,MORTGAGE,59800.0,Verified,debt_consolidation,MO,37.39,0.0,0.0,35020,35.0,1106.72,INDIVIDUAL,17.0,183208.0,55400.0,0
4,46725961,17000,3 years,6.39,A,A2,10+ years,MORTGAGE,72000.0,Source Verified,credit_card,TX,8.92,0.0,0.0,23990,26.0,725.29,INDIVIDUAL,39.0,23990.0,81300.0,0

In [5]:
data.shape

(93174, 23)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93174 entries, 0 to 93173
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          93174 non-null  int64
 1   loan_amnt                   93174 non-null  int64
 2   loan_term                   93174 non-null  object
 3   interest_rate               93174 non-null  float64
 4   loan_grade                  93174 non-null  object
 5   loan_subgrade               93174 non-null  object
 6   job_experience              88472 non-null  object
 7   home_ownership              93174 non-null  object
 8   annual_income               93173 non-null  float64
 9   income_verification_status  93174 non-null  object
 10  loan_purpose                93174 non-null  object
 11  state_code                  93174 non-null  object
 12  debt_to_income              93174 non-null  float64
 13  delinq_2yrs                 93172 non-null  float64
 14  public_records              93172 non-null  float64
 15  revolving_balance           93174 non-null  int64
 16  total_acc                   93172 non-null  float64
 17  interest_receive            93174 non-null  float64
 18  application_type            93174 non-null  object
 19  last_week_pay               91250 non-null  float64
 20  total_current_balance       85788 non-null  float64
 21  total_revolving_limit       85788 non-null  float64
 22  default                     93174 non-null  int64
dtypes: float64(10), int64(4), object(9)
memory usage: 16.3+ MB

In [7]:
data.isnull().sum()

ID                               0
loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
loan_subgrade                    0
job_experience                4702
home_ownership                   0
annual_income                    1
income_verification_status       0
loan_purpose                     0
state_code                       0
debt_to_income                   0
delinq_2yrs                      2
public_records                   2
revolving_balance                0
total_acc                        2
interest_receive                 0
application_type                 0
last_week_pay                 1924
total_current_balance         7386
total_revolving_limit         7386
default                          0
dtype: int64

In [8]:
data.duplicated().sum()

0

In [9]:
data[data['annual_income'] == Null]

NameError: name 'Null' is not defined

In [10]:
data.columns[data.dtypes=='object']

Index(['loan_term', 'loan_grade', 'loan_subgrade', 'job_experience',
       'home_ownership', 'income_verification_status', 'loan_purpose',
       'state_code', 'application_type'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93174 entries, 0 to 93173
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          93174 non-null  int64
 1   loan_amnt                   93174 non-null  int64
 2   loan_term                   93174 non-null  object
 3   interest_rate               93174 non-null  float64
 4   loan_grade                  93174 non-null  object
 5   loan_subgrade               93174 non-null  object
 6   job_experience              88472 non-null  object
 7   home_ownership              93174 non-null  object
 8   annual_income               93173 non-null  float64
 9   income_verification_status  93174 non-null  object
 10  loan_purpose                93174 non-null  object
 11  state_code                  93174 non-null  object
 12  debt_to_income              93174 non-null  float64
 13  delinq_2yrs                 93172 non-null  float64
 14  public_records              93172 non-null  float64
 15  revolving_balance           93174 non-null  int64
 16  total_acc                   93172 non-null  float64
 17  interest_receive            93174 non-null  float64
 18  application_type            93174 non-null  object
 19  last_week_pay               91250 non-null  float64
 20  total_current_balance       85788 non-null  float64
 21  total_revolving_limit       85788 non-null  float64
 22  default                     93174 non-null  int64
dtypes: float64(10), int64(4), object(9)
memory usage: 16.3+ MB

In [12]:
for column in data.columns[data.dtypes=='object']:
  print('Unique values of',column,':')
  #print(df[column] .unique())
  print(data[column].value_counts())
  print('..................'*5)

Unique values of loan_term :
3 years    65211
5 years    27963
Name: loan_term, dtype: int64
..........................................................................................
Unique values of loan_grade :
B    26865
C    25787
A    15534
D    14715
E     7378
F     2344
G      551
Name: loan_grade, dtype: int64
..........................................................................................
Unique values of loan_subgrade :
B3    5879
B4    5879
C2    5479
C1    5443
C3    5270
C4    5182
B2    5169
B5    5095
B1    4843
A5    4723
C5    4413
D1    3716
A4    3631
D2    3239
D3    2759
D4    2717
A3    2450
A1    2377
A2    2353
D5    2284
E1    1924
E2    1736
E3    1513
E4    1228
E5     977
F1     745
F2     545
F3     465
F4     355
F5     234
G1     174
G2     146
G3     105
G5      66
G4      60
Name: loan_subgrade, dtype: int64
..........................................................................................
Unique values of job_experience :
<5 Years      40610
10+ years     30362
6-10 years    17500
Name: job_experience, dtype: int64
..........................................................................................
Unique values of home_ownership :
MORTGAGE    46445
RENT        37449
OWN          9254
OTHER          18
NONE            8
Name: home_ownership, dtype: int64
..........................................................................................
Unique values of income_verification_status :
Source Verified    34487
Verified           30450
Not Verified       28237
Name: income_verification_status, dtype: int64
..........................................................................................
Unique values of loan_purpose :
debt_consolidation    55241
credit_card           21571
other                 10971
home_improvement       5391
Name: loan_purpose, dtype: int64
..........................................................................................
Unique values of state_code :
CA    13744
NY     7782
TX     7467
FL     6360
IL     3699
NJ     3464
PA     3321
OH     3104
GA     2998
VA     2793
NC     2669
MI     2415
MD     2279
MA     2232
AZ     2115
WA     2038
CO     1924
MN     1638
MO     1485
IN     1420
CT     1402
TN     1365
NV     1326
WI     1206
AL     1188
LA     1112
SC     1108
OR     1102
KY      933
OK      851
KS      800
AR      694
UT      658
NM      507
WV      460
HI      451
NH      447
RI      412
MS      389
DC      271
MT      253
DE      246
AK      231
WY      212
SD      198
VT      174
NE      126
ME       59
ND       45
ID        1
Name: state_code, dtype: int64
..........................................................................................
Unique values of application_type :
INDIVIDUAL    93118
JOINT            56
Name: application_type, dtype: int64
..........................................................................................

In [13]:
df = data.drop(['state_code', 'ID'], axis=1)

In [14]:
test.drop(['state_code', 'loan_subgrade'], axis =1, inplace = True)

In [15]:
test.isnull().sum()

ID                               0
loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
job_experience                2089
home_ownership                   0
annual_income                    0
income_verification_status       0
loan_purpose                     0
debt_to_income                   0
delinq_2yrs                      1
public_records                   1
revolving_balance                0
total_acc                        1
interest_receive                 0
application_type                 0
last_week_pay                  806
total_current_balance         3230
total_revolving_limit         3230
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93174 entries, 0 to 93173
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   93174 non-null  int64
 1   loan_term                   93174 non-null  object
 2   interest_rate               93174 non-null  float64
 3   loan_grade                  93174 non-null  object
 4   loan_subgrade               93174 non-null  object
 5   job_experience              88472 non-null  object
 6   home_ownership              93174 non-null  object
 7   annual_income               93173 non-null  float64
 8   income_verification_status  93174 non-null  object
 9   loan_purpose                93174 non-null  object
 10  debt_to_income              93174 non-null  float64
 11  delinq_2yrs                 93172 non-null  float64
 12  public_records              93172 non-null  float64
 13  revolving_balance           93174 non-null  int64
 14  total_acc                   93172 non-null  float64
 15  interest_receive            93174 non-null  float64
 16  application_type            93174 non-null  object
 17  last_week_pay               91250 non-null  float64
 18  total_current_balance       85788 non-null  float64
 19  total_revolving_limit       85788 non-null  float64
 20  default                     93174 non-null  int64
dtypes: float64(10), int64(3), object(8)
memory usage: 14.9+ MB

In [17]:
df.isnull().sum().sort_values(ascending=False)

total_revolving_limit         7386
total_current_balance         7386
job_experience                4702
last_week_pay                 1924
public_records                   2
total_acc                        2
delinq_2yrs                      2
annual_income                    1
loan_amnt                        0
application_type                 0
interest_receive                 0
revolving_balance                0
debt_to_income                   0
loan_term                        0
loan_purpose                     0
income_verification_status       0
home_ownership                   0
loan_subgrade                    0
loan_grade                       0
interest_rate                    0
default                          0
dtype: int64

In [18]:
df1 = df.drop(['loan_subgrade'], axis=1)

In [19]:
test

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,NaN,145370.0,45400.0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0

In [20]:
Misc = df1.select_dtypes(exclude="object").columns.tolist()
Misc

['loan_amnt',
 'interest_rate',
 'annual_income',
 'debt_to_income',
 'delinq_2yrs',
 'public_records',
 'revolving_balance',
 'total_acc',
 'interest_receive',
 'last_week_pay',
 'total_current_balance',
 'total_revolving_limit',
 'default']

In [21]:
Misctest = test.select_dtypes(exclude="object").columns.tolist()
Misctest

['ID',
 'loan_amnt',
 'interest_rate',
 'annual_income',
 'debt_to_income',
 'delinq_2yrs',
 'public_records',
 'revolving_balance',
 'total_acc',
 'interest_receive',
 'last_week_pay',
 'total_current_balance',
 'total_revolving_limit']

In [22]:
for column in Misc:
    if df1[column].isna().sum() > 0:
        df1[column] = df1[column].fillna(
        value=df1.groupby(['job_experience'])[column].transform("median")
    )

In [23]:
for column in Misctest:
    if test[column].isna().sum() > 0:
        test[column] = test[column].fillna(
        value=df1.groupby(['job_experience'])[column].transform("median")
    )

In [24]:
test.isna().sum()

ID                               0
loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
job_experience                2089
home_ownership                   0
annual_income                    0
income_verification_status       0
loan_purpose                     0
debt_to_income                   0
delinq_2yrs                      0
public_records                   0
revolving_balance                0
total_acc                        0
interest_receive                 0
application_type                 0
last_week_pay                   30
total_current_balance          188
total_revolving_limit          188
dtype: int64

In [25]:
df1.isna().sum()

loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
job_experience                4702
home_ownership                   0
annual_income                    0
income_verification_status       0
loan_purpose                     0
debt_to_income                   0
delinq_2yrs                      0
public_records                   0
revolving_balance                0
total_acc                        0
interest_receive                 0
application_type                 0
last_week_pay                  130
total_current_balance          217
total_revolving_limit          217
default                          0
dtype: int64

In [26]:
for column in Misc:
    if df1[column].isna().sum() > 0:
        df1[column] = df1[column].fillna(value=df1[column].median())

In [27]:
for column in Misctest:
    if test[column].isna().sum() > 0:
        test[column] = test[column].fillna(value=test[column].median())

In [28]:
df1.isnull().sum()

loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
job_experience                4702
home_ownership                   0
annual_income                    0
income_verification_status       0
loan_purpose                     0
debt_to_income                   0
delinq_2yrs                      0
public_records                   0
revolving_balance                0
total_acc                        0
interest_receive                 0
application_type                 0
last_week_pay                    0
total_current_balance            0
total_revolving_limit            0
default                          0
dtype: int64

In [29]:
test.isnull().sum()

ID                               0
loan_amnt                        0
loan_term                        0
interest_rate                    0
loan_grade                       0
job_experience                2089
home_ownership                   0
annual_income                    0
income_verification_status       0
loan_purpose                     0
debt_to_income                   0
delinq_2yrs                      0
public_records                   0
revolving_balance                0
total_acc                        0
interest_receive                 0
application_type                 0
last_week_pay                    0
total_current_balance            0
total_revolving_limit            0
dtype: int64

In [30]:
df1['job_experience'] = df1['job_experience'].fillna(value='Unknown')
df1

,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,default
0,9000,3 years,9.17,B,<5 Years,OWN,85000.0,Not Verified,debt_consolidation,26.68,0.0,0.0,39519,20.0,59.60,INDIVIDUAL,4.0,95493.0,84100.0,0
1,18000,3 years,13.65,C,<5 Years,OWN,64000.0,Verified,debt_consolidation,31.67,0.0,1.0,9783,24.0,3348.25,INDIVIDUAL,95.0,185433.0,13500.0,0
2,16000,3 years,7.26,A,<5 Years,MORTGAGE,150000.0,Source Verified,debt_consolidation,19.70,2.0,0.0,13641,27.0,276.69,INDIVIDUAL,13.0,180519.0,19300.0,0
3,25000,3 years,13.99,C,Unknown,MORTGAGE,59800.0,Verified,debt_consolidation,37.39,0.0,0.0,35020,35.0,1106.72,INDIVIDUAL,17.0,183208.0,55400.0,0
4,17000,3 years,6.39,A,10+ years,MORTGAGE,72000.0,Source Verified,credit_card,8.92,0.0,0.0,23990,26.0,725.29,INDIVIDUAL,39.0,23990.0,81300.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93169,3200,3 years,7.26,A,<5 Years,RENT,85000.0,Not Verified,debt_consolidation,17.11,0.0,0.0,7924,38.0,55.34,INDIVIDUAL,13.0,64635.0,47600.0,0
93170,3500,3 years,5.42,A,Unknown,MORTGAGE,57550.0,Not Verified,other,22.64,0.0,0.0,10174,24.0,299.67,INDIVIDUAL,161.0,77434.0,23400.0,1
93171,8000,3 years,13.98,C,10+ years,RENT,148531.5,Source Verified,credit_card,13.04,1.0,0.0,5391,25.0,1150.58,INDIVIDUAL,65.0,94596.0,6500.0,0
93172,35000,3 years,17.77,D,<5 Years,RENT,100000.0,Verified,debt_consolidation,17.22,0.0,0.0,24609,45.0,5764.58,INDIVIDUAL,56.0,33759.0,34900.0,1
93173,10000,3 years,15.80,C,<5 Years,RENT,60000.0,Verified,debt_consolidation,11.83,0.0,0.0,11285,7.0,2279.36,INDIVIDUAL,104.0,25594.0,12300.0,0

In [31]:
test['job_experience'] = test['job_experience'].fillna(value='Unknown')

In [32]:
df1.isnull().sum()

loan_amnt                     0
loan_term                     0
interest_rate                 0
loan_grade                    0
job_experience                0
home_ownership                0
annual_income                 0
income_verification_status    0
loan_purpose                  0
debt_to_income                0
delinq_2yrs                   0
public_records                0
revolving_balance             0
total_acc                     0
interest_receive              0
application_type              0
last_week_pay                 0
total_current_balance         0
total_revolving_limit         0
default                       0
dtype: int64

In [33]:
test.isnull().sum()

ID                            0
loan_amnt                     0
loan_term                     0
interest_rate                 0
loan_grade                    0
job_experience                0
home_ownership                0
annual_income                 0
income_verification_status    0
loan_purpose                  0
debt_to_income                0
delinq_2yrs                   0
public_records                0
revolving_balance             0
total_acc                     0
interest_receive              0
application_type              0
last_week_pay                 0
total_current_balance         0
total_revolving_limit         0
dtype: int64

In [34]:
test

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0

In [35]:
for column in df1.columns[df1.dtypes=='object']:
    df1[column] = df1[column].astype('category')

In [36]:
for column in test.columns[test.dtypes=='object']:
    test[column] = test[column].astype('category')

In [37]:
df1

,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,default
0,9000,3 years,9.17,B,<5 Years,OWN,85000.0,Not Verified,debt_consolidation,26.68,0.0,0.0,39519,20.0,59.60,INDIVIDUAL,4.0,95493.0,84100.0,0
1,18000,3 years,13.65,C,<5 Years,OWN,64000.0,Verified,debt_consolidation,31.67,0.0,1.0,9783,24.0,3348.25,INDIVIDUAL,95.0,185433.0,13500.0,0
2,16000,3 years,7.26,A,<5 Years,MORTGAGE,150000.0,Source Verified,debt_consolidation,19.70,2.0,0.0,13641,27.0,276.69,INDIVIDUAL,13.0,180519.0,19300.0,0
3,25000,3 years,13.99,C,Unknown,MORTGAGE,59800.0,Verified,debt_consolidation,37.39,0.0,0.0,35020,35.0,1106.72,INDIVIDUAL,17.0,183208.0,55400.0,0
4,17000,3 years,6.39,A,10+ years,MORTGAGE,72000.0,Source Verified,credit_card,8.92,0.0,0.0,23990,26.0,725.29,INDIVIDUAL,39.0,23990.0,81300.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93169,3200,3 years,7.26,A,<5 Years,RENT,85000.0,Not Verified,debt_consolidation,17.11,0.0,0.0,7924,38.0,55.34,INDIVIDUAL,13.0,64635.0,47600.0,0
93170,3500,3 years,5.42,A,Unknown,MORTGAGE,57550.0,Not Verified,other,22.64,0.0,0.0,10174,24.0,299.67,INDIVIDUAL,161.0,77434.0,23400.0,1
93171,8000,3 years,13.98,C,10+ years,RENT,148531.5,Source Verified,credit_card,13.04,1.0,0.0,5391,25.0,1150.58,INDIVIDUAL,65.0,94596.0,6500.0,0
93172,35000,3 years,17.77,D,<5 Years,RENT,100000.0,Verified,debt_consolidation,17.22,0.0,0.0,24609,45.0,5764.58,INDIVIDUAL,56.0,33759.0,34900.0,1
93173,10000,3 years,15.80,C,<5 Years,RENT,60000.0,Verified,debt_consolidation,11.83,0.0,0.0,11285,7.0,2279.36,INDIVIDUAL,104.0,25594.0,12300.0,0

In [38]:
test_save = test.copy()
test

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0

In [42]:
# specifying the independent  and dependent variables
X = df1.drop(["default"], axis=1)

Y = df1["default"]

In [71]:
X1_test = test.drop(['ID'], axis=1)
X1_test

,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit
0,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0
1,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0
2,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0
3,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0
4,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0
39929,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0
39930,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0
39931,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0
39932,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0

In [72]:
X1_test1 = pd.get_dummies(X1_test)

In [45]:
# creating dummy variables
X = pd.get_dummies(X)

# splitting data in train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=1,  stratify=Y)

In [46]:
X_train.shape

(65221, 39)

In [47]:
X_test.shape

(27953, 39)

In [48]:
X_train

,loan_amnt,interest_rate,annual_income,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,last_week_pay,total_current_balance,total_revolving_limit,loan_term_3 years,loan_term_5 years,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,job_experience_10+ years,job_experience_6-10 years,job_experience_<5 Years,job_experience_Unknown,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,income_verification_status_Not Verified,income_verification_status_Source Verified,income_verification_status_Verified,loan_purpose_credit_card,loan_purpose_debt_consolidation,loan_purpose_home_improvement,loan_purpose_other,application_type_INDIVIDUAL,application_type_JOINT
40883,18000,10.64,62000.0,20.11,1.0,0.0,4993,19.0,2922.63,122.0,168705.0,8300.0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0
70146,12000,13.33,65000.0,27.53,0.0,1.0,6539,16.0,377.39,13.0,58054.0,7300.0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0
84472,24000,7.90,102000.0,11.60,0.0,0.0,14564,24.0,2684.27,113.0,28443.0,23600.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0
81649,15000,14.31,76000.0,32.95,0.0,0.0,28111,18.0,1738.33,52.0,210143.0,41900.0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0
47161,10000,8.18,61000.0,9.33,2.0,0.0,11382,44.0,253.47,17.0,196576.0,48400.0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48179,12575,25.57,35000.0,30.11,0.0,0.0,12550,44.0,2797.90,48.0,36637.0,48700.0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0
55783,15000,10.99,63000.0,15.95,1.0,0.0,26089,37.0,562.00,17.0,26403.0,74400.0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0
14682,27000,17.57,59500.0,27.96,0.0,0.0,16369,15.0,1147.08,13.0,202689.0,25900.0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0
24743,8000,15.31,120000.0,6.76,0.0,3.0,3459,31.0,1578.95,87.0,16937.0,11400.0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0
75916,7900,12.88,18000.0,15.20,1.0,0.0,8164,18.0,0.00,48.0,8164.0,21400.0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0

In [49]:
X1_test.shape

(93174, 39)

In [50]:
def model_performance_classification_sklearn(model, predictors, target):
    """
    Function to compute different metrics to check classification model performance

    model: classifier
    predictors: independent variables
    target: dependent variable
    """

    # predicting using the independent variables
    pred = model.predict(predictors)

    acc = accuracy_score(target, pred)  # to compute Accuracy
    recall = recall_score(target, pred)  # to compute Recall
    precision = precision_score(target, pred)  # to compute Precision
    f1 = f1_score(target, pred)  # to compute F1-score

    # creating a dataframe of metrics
    df_perf = pd.DataFrame(
        {"Accuracy": acc, "Recall": recall, "Precision": precision, "F1": f1,},
        index=[0],
    )

    return df_perf

In [113]:
def confusion_matrix_sklearn(model, predictors, target):
    """
    To plot the confusion_matrix with percentages

    model: classifier
    predictors: independent variables
    target: dependent variable
    """
    y_pred = model.predict(predictors)
    cm = confusion_matrix(target, y_pred)
    labels = np.asarray(
        [
            ["{0:0.0f}".format(item) + "\n{0:.2%}".format(item / cm.flatten().sum())]
            for item in cm.flatten()
        ]
    ).reshape(2, 2)

    plt.figure(figsize=(4, 3))
    sns.heatmap(cm, annot=labels, fmt="")
    plt.ylabel("True label")
    plt.xlabel("Predicted label")

In [51]:
# building a decision tree using the dtclassifier function
dec_Tree = DecisionTreeClassifier(criterion = 'gini', random_state=1, class_weight='balanced')
dec_Tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight='balanced', random_state=1)

In [52]:
decision_tree_perf_train = model_performance_classification_sklearn(
    dec_Tree, X_train, y_train
)
decision_tree_perf_train

   Accuracy  Recall  Precision   F1
0       1.0     1.0        1.0  1.0

In [53]:
decision_tree_perf_test = model_performance_classification_sklearn(
    dec_Tree, X_test, y_test
)
decision_tree_perf_test

   Accuracy    Recall  Precision       F1
0  0.772153  0.509866   0.520769  0.51526

In [54]:
#Train the Bagging classifier
bagging = BaggingClassifier(random_state=1)
bagging.fit(X_train,y_train)

BaggingClassifier(random_state=1)

In [57]:
bagging_model_train = model_performance_classification_sklearn(bagging, X_train, y_train)
bagging_model_train

   Accuracy    Recall  Precision        F1
0  0.984376  0.936281   0.997798  0.966062

In [55]:
bagging_model_test= model_performance_classification_sklearn(bagging, 
                                                             X_test, y_test)
bagging_model_test

   Accuracy    Recall  Precision        F1
0   0.82492  0.391776   0.752386  0.515254

In [104]:
bagging_estimator_tuned = BaggingClassifier(random_state=1)

# Grid of parameters to choose from

parameters = {'max_samples': [.7,1], 
              'max_features': [.7,1,5],
 }

# Type of scoring used to compare parameter combinations
acc_scorer = metrics.make_scorer(metrics.accuracy_score)

# Run the grid search
#randomized_cv = RandomizedSearchCV(estimator=bagging_estimator_tuned, param_distributions=parameters,
                                  #scoring=acc_scorer, n_iter=20, n_jobs = -1, cv=5, random_state=1)
grid_obj = GridSearchCV(bagging_estimator_tuned, parameters, scoring=acc_scorer,cv=5)
#randomized_cv.fit(X_train,y_train)
grid_obj.fit(X_train,y_train)

# Set the clf to the best combination of parameters
bagging_estimator_tuned = grid_obj.best_estimator_

# Fit the best algorithm to the data.
bagging_estimator_tuned.fit(X_train, y_train)

BaggingClassifier(max_features=0.7, max_samples=0.7, random_state=1)

In [105]:
bagging_estimator_tuned_train = model_performance_classification_sklearn(bagging_estimator_tuned, X_train,y_train)
bagging_estimator_tuned_train

   Accuracy    Recall  Precision        F1
0  0.959737  0.837444   0.991743  0.908085

In [106]:
bagging_estimator_tuned_test= model_performance_classification_sklearn(bagging_estimator_tuned, X_test,y_test)
bagging_estimator_tuned_test

   Accuracy   Recall  Precision        F1
0  0.826387  0.37581   0.778714  0.506959

In [57]:
#Train the random forest classifier
rf_estimator=RandomForestClassifier(random_state=1)
rf_estimator.fit(X_train,y_train)

RandomForestClassifier(random_state=1)

In [62]:
rf_estimator_model_train = model_performance_classification_sklearn(rf_estimator, X_train,y_train)
rf_estimator_model_train

   Accuracy  Recall  Precision   F1
0       1.0     1.0        1.0  1.0

In [63]:
rf_estimator_model_test =model_performance_classification_sklearn(rf_estimator, X_test,y_test)
rf_estimator_model_test

   Accuracy    Recall  Precision        F1
0  0.817909  0.284531   0.847465  0.426026

In [107]:
# Choose the type of classifier. 
rf_estimator_tuned = RandomForestClassifier(random_state=1, oob_score=True, bootstrap=True)

# Grid of parameters to choose from
parameters = {  
        "max_depth": list(np.arange(5, 15, 5)),
    "max_features": ["sqrt", "log2"],
    "min_samples_split": [5, 7],
}

# Type of scoring used to compare parameter combinations
scorer = metrics.make_scorer(metrics.accuracy_score)

# Run the grid search
grid_obj = GridSearchCV(rf_estimator_tuned, parameters, scoring=scorer, cv=3,n_jobs=-1)
grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
rf_estimator_tuned = grid_obj.best_estimator_

# Fit the best algorithm to the data. 
rf_estimator_tuned.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, min_samples_split=5, oob_score=True,
                       random_state=1)

In [108]:
rf_estimator_tuned_train = model_performance_classification_sklearn(rf_estimator_tuned, X_train,y_train)
rf_estimator_tuned_train

   Accuracy    Recall  Precision       F1
0  0.818402  0.251001   0.941404  0.39633

In [109]:
rf_estimator_tuned_test = model_performance_classification_sklearn(rf_estimator_tuned, X_test,y_test)
rf_estimator_tuned_test

   Accuracy    Recall  Precision        F1
0  0.810539  0.229101   0.895232  0.364836

In [131]:
ypred_rft = pd.DataFrame(rf_estimator_tuned.predict(X1_test1))
ypred_rft.value_counts()

0    37625
1     2308
dtype: int64

In [125]:
DFpred_rft = pd.concat([test_save, ypred_rft], axis = 1)
DFpred_rft

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,0
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0,0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0,0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0,0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0,0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0,0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0,0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0,0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0,0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0,0

In [121]:
DFpred_rft.to_csv('DFpred_rft1.csv')

### Good accuracy similar model for RF tuned

In [ ]:
ypred = pd.DataFrame(ypred_rft)
ypred.to_csv("ypred.csv")
ypred.value_counts()

In [64]:
gb_classifier = GradientBoostingClassifier(random_state=1)
gb_classifier.fit(X_train,y_train)

GradientBoostingClassifier(random_state=1)

In [120]:
gbc_classifier_model_train = model_performance_classification_sklearn(gb_classifier,X_train,y_train)
gbc_classifier_model_train

   Accuracy    Recall  Precision        F1
0  0.818724  0.269593   0.891355  0.413978

In [65]:
gbc_classifier_model_test = model_performance_classification_sklearn(gb_classifier,X_test,y_test)
gbc_classifier_model_test

   Accuracy    Recall  Precision        F1
0   0.81333  0.255159    0.86121  0.393679

In [128]:
# Choose the type of classifier. 
gb_tuned = GradientBoostingClassifier(random_state=1)

# Grid of parameters to choose from
parameters = {
    "subsample": [0.9, 1],
    "max_features": [0.8, 0.9],
    "learning_rate": np.arange(.1, 0.21, 0.1),
}


# Type of scoring used to compare parameter combinations
scorer = metrics.make_scorer(metrics.accuracy_score)

# Run the grid search
grid_obj = GridSearchCV(gb_tuned, parameters, scoring=scorer,cv=3)
grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
gb_tuned = grid_obj.best_estimator_

# Fit the best algorithm to the data.
gb_tuned.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=0.2, max_features=0.8, random_state=1,
                           subsample=0.9)

In [129]:
gb_tuned_model_train=model_performance_classification_sklearn(gb_tuned,X_train,y_train)
gb_tuned_model_train

   Accuracy    Recall  Precision       F1
0  0.836356  0.368689   0.864648  0.51695

In [130]:
gb_tuned_model_test = model_performance_classification_sklearn(gb_tuned,X_test,y_test)
gb_tuned_model_test

   Accuracy    Recall  Precision       F1
0  0.826816  0.339358   0.831979  0.48208

In [132]:
ypred_gbt = pd.DataFrame(gb_tuned.predict(X1_test1))

In [134]:
ypred_gbt.value_counts()

0    35918
1     4015
dtype: int64

In [135]:
DFpred_gbt = pd.concat([test_save, ypred_gbt], axis = 1)
DFpred_gbt

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,0
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0,1
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0,0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0,0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0,0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0,0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0,0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0,0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0,0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0,0

In [136]:
DFpred_gbt.to_csv('DFpred_gbt.csv')

#### Gradient boost tuning improved accuracy to .826

In [75]:
X1_test1

,loan_amnt,interest_rate,annual_income,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,last_week_pay,total_current_balance,total_revolving_limit,loan_term_3 years,loan_term_5 years,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,job_experience_10+ years,job_experience_6-10 years,job_experience_<5 Years,job_experience_Unknown,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,income_verification_status_Not Verified,income_verification_status_Source Verified,income_verification_status_Verified,loan_purpose_credit_card,loan_purpose_debt_consolidation,loan_purpose_home_improvement,loan_purpose_other,application_type_INDIVIDUAL,application_type_JOINT
0,12000,15.31,73400.0,14.62,0.0,0.0,22156,30.0,2290.24,87.0,128098.0,25800.0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0
1,12000,7.26,105000.0,11.38,0.0,0.0,7592,14.0,202.68,13.0,269396.0,23600.0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0
2,15000,14.33,50000.0,28.15,0.0,1.0,17983,19.0,1166.24,30.0,220135.0,34100.0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0
3,12000,9.99,37000.0,34.32,0.0,0.0,12262,18.0,635.06,35.0,39436.0,21700.0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1,0
4,20150,11.53,75000.0,26.74,1.0,0.0,8251,11.0,1232.84,31.0,52764.0,12000.0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,5000,8.18,65000.0,13.09,0.0,5.0,6731,24.0,187.27,26.0,14422.0,26100.0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0
39929,1800,11.53,55000.0,25.44,0.0,1.0,11092,38.0,81.24,26.0,243469.0,29200.0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0
39930,15200,13.44,78000.0,19.40,0.0,0.0,19688,26.0,0.00,48.0,145370.0,45400.0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0
39931,14425,18.92,38000.0,17.40,0.0,1.0,10805,29.0,4268.80,96.0,106449.0,19700.0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0
39932,27000,20.20,62000.0,24.12,1.0,0.0,17795,17.0,7436.41,78.0,55787.0,33500.0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0

In [81]:
ypred_gb = gb_classifier.predict(X1_test1)
ypred_gb

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [85]:
ypred = pd.DataFrame(ypred_gb)
ypred.to_csv("ypred.csv")
ypred.value_counts()

0    37019
1     2914
dtype: int64

In [90]:
test_save

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0

In [87]:
DFpred = pd.concat([test_save, ypred], axis = 1)
DFpred

,ID,loan_amnt,loan_term,interest_rate,loan_grade,job_experience,home_ownership,annual_income,income_verification_status,loan_purpose,debt_to_income,delinq_2yrs,public_records,revolving_balance,total_acc,interest_receive,application_type,last_week_pay,total_current_balance,total_revolving_limit,0
0,4855329,12000,3 years,15.31,C,<5 Years,MORTGAGE,73400.0,Not Verified,debt_consolidation,14.62,0.0,0.0,22156,30.0,2290.24,INDIVIDUAL,87.0,128098.0,25800.0,0
1,66862420,12000,3 years,7.26,A,10+ years,MORTGAGE,105000.0,Not Verified,credit_card,11.38,0.0,0.0,7592,14.0,202.68,INDIVIDUAL,13.0,269396.0,23600.0,0
2,3637416,15000,3 years,14.33,C,6-10 years,MORTGAGE,50000.0,Verified,debt_consolidation,28.15,0.0,1.0,17983,19.0,1166.24,INDIVIDUAL,30.0,220135.0,34100.0,0
3,53682249,12000,3 years,9.99,B,6-10 years,RENT,37000.0,Source Verified,credit_card,34.32,0.0,0.0,12262,18.0,635.06,INDIVIDUAL,35.0,39436.0,21700.0,0
4,53937165,20150,3 years,11.53,B,<5 Years,RENT,75000.0,Source Verified,debt_consolidation,26.74,1.0,0.0,8251,11.0,1232.84,INDIVIDUAL,31.0,52764.0,12000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39928,57779318,5000,3 years,8.18,B,10+ years,MORTGAGE,65000.0,Source Verified,home_improvement,13.09,0.0,5.0,6731,24.0,187.27,INDIVIDUAL,26.0,14422.0,26100.0,0
39929,59742362,1800,3 years,11.53,B,6-10 years,MORTGAGE,55000.0,Source Verified,home_improvement,25.44,0.0,1.0,11092,38.0,81.24,INDIVIDUAL,26.0,243469.0,29200.0,0
39930,72657145,15200,3 years,13.44,C,10+ years,MORTGAGE,78000.0,Not Verified,credit_card,19.40,0.0,0.0,19688,26.0,0.00,INDIVIDUAL,48.0,145370.0,45400.0,0
39931,15220189,14425,5 years,18.92,D,<5 Years,MORTGAGE,38000.0,Not Verified,credit_card,17.40,0.0,1.0,10805,29.0,4268.80,INDIVIDUAL,96.0,106449.0,19700.0,0
39932,21810584,27000,5 years,20.20,E,<5 Years,MORTGAGE,62000.0,Source Verified,debt_consolidation,24.12,1.0,0.0,17795,17.0,7436.41,INDIVIDUAL,78.0,55787.0,33500.0,0

In [91]:
DFpred.columns

Index([                        'ID',                  'loan_amnt',
                        'loan_term',              'interest_rate',
                       'loan_grade',             'job_experience',
                   'home_ownership',              'annual_income',
       'income_verification_status',               'loan_purpose',
                   'debt_to_income',                'delinq_2yrs',
                   'public_records',          'revolving_balance',
                        'total_acc',           'interest_receive',
                 'application_type',              'last_week_pay',
            'total_current_balance',      'total_revolving_limit',
                                  0],
      dtype='object')

In [92]:
DFpred_final = DFpred.drop([                 'loan_amnt',
                        'loan_term',              'interest_rate',
                       'loan_grade',             'job_experience',
                   'home_ownership',              'annual_income',
       'income_verification_status',               'loan_purpose',
                   'debt_to_income',                'delinq_2yrs',
                   'public_records',          'revolving_balance',
                        'total_acc',           'interest_receive',
                 'application_type',              'last_week_pay',
            'total_current_balance',      'total_revolving_limit',
                                  ], axis=1)

In [96]:
DFpred_final

             ID  0
0       4855329  0
1      66862420  0
2       3637416  0
3      53682249  0
4      53937165  0
...         ... ..
39928  57779318  0
39929  59742362  0
39930  72657145  0
39931  15220189  0
39932  21810584  0

[39933 rows x 2 columns]

In [101]:
DFpred_final.to_csv('DFpred_final.csv')